RewriteEngine ON
RewriteCond %{THE_REQUEST} \s/index\.php\?upi=(\S+)\s [NC]
RewriteRule ^ /%1? [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]*)/?$ index.php?upi=$1 [QSA,L]